Java4/files/XmlSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="userbase">
        <xs:annotation>
            <xs:documentation>&lt;collection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"            xsi:schemaLocation="xmlSchema.xsd"></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="name" use="optional"/>
                                            <xs:attribute type="xs:string" name="lastname" use="optional"/>
                                            <xs:attribute type="xs:string" name="phone" use="optional"/>
                                            <xs:attribute type="xs:string" name="birthyear" use="optional"/>
                                            <xs:attribute type="xs:string" name="type" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>